{% extends 'catalog/base.html' %}
{% load media %}
{% block content %}
<html lang="en">
<meta charset="utf-8">
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.title }}</h1>
                    <img class="card-img-top" src="{{ object_list.product_image | media_filter }}">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ object_list.title }}</li>
                        <li>- {{ object_list.content }}</li>
                        <li>- {{ object_list.preview }}</li>
                        <li>- {{ object_list. }}</li>
                    </ul>
                    <div class="btn-group">
                        <a href="{% url 'blogpost:edit' object.pk %}"
                           class="btn btn-lg btn-block btn-outline-primary">Править</a>
                        <a href="{% url 'blogpost:delete' object.pk %}"
                           class="btn btn-lg btn-block btn-outline-danger">Удалить</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}