{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">{{ title }}</p>
    <div class="container">
        <div class="row">
            {% for object in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ object.category_name|title }}</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>- {{ object.category_description }}</li>
                        </ul>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary" href="/contacts/">
                            Купить
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}