{% extends 'catalog/base.html' %}
{% block content %}
{% include 'catalog/includes/inc_menu.html' with objects=objects %}

<html lang="en">
<meta charset="utf-8">
<div class="container justify-content-center">
    <div class="row text-center">
        {% for product in object_list %}
        <div class="col-4 mh-45">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.category.name }}</h4>
                </div>
                <div class="card-body">

                        <h3 class="card-title pricing-card-title">{{ product.name }}</h3>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li class="mb-2">{{ product.description | truncatechars:'100' }}</li>
                            <li class="text-center fw-bold">{{ product.price }} руб.</li>

                        </ul>
                        <a href="{% url 'catalog:product' product.pk %}" type="button" class="form-control btn btn-lg btn-block btn-outline-primary">Купить</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}