{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <h2>Подтверждение удаления</h2>
    <p>Вы уверены, что хотите удалить продукт "{{ object.product_name }}"?</p>
    <img src="{{ object.product_image.url }}" alt="{{ object.product_name }}" style="width: 25%; height: auto;" class="mb-3">
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Удалить" class="btn btn-danger">
        <a href="{% url 'catalog:products' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
