{% extends 'catalog/base.html' %}
{% load media %}

{% block content %}
<html lang="en">
<meta charset="utf-8">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <div class="row">
        {% for object in object_list %}
        <div class="col-3">
            <a href="{% url 'catalog:detail' object.pk %}" class="btn mt-2 btn-lg btn-block  btn-outline-primary"
               style="--bs-btn-padding-y: 3.0rem; --bs-btn-padding-x: 5.0rem; --bs-btn-font-size: 1.0rem;">
                <h1 class="card-title pricing-card-title">{{ object.product_name }}</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <img class="card-img-top" src="{{ object.product_image | media_filter }}">
                    <li>- {{ object.product_category.category_name}}</li>
                </ul>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}