{% extends 'catalog/base.html' %}
{% load media %}
{% block content %}
<html lang="en">
<meta charset="utf-8">
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.product_name }}</h1>
                    {% with image_url=object.product_image|safe_image_url %}
                        {% if image_url %}
                            <img class="card-img-top" src="{{ image_url }}" alt="{{ object.product_name }}">
                        {% endif %}
                    {% endwith %}
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Цена - {{ object.product_price }}</li>
                        <li>Категория - {{ object.product_category.category_name }}</li>
                        <li>Описание категории - {{ object.product_category.category_description }}</li>
                        <li>Релиз - {{ object.updated_at }}</li>
                        <li>Версия -
                            {% if version %}
                                {{ version.version_name }}
                            {% else %}
                                N/A
                            {% endif %}
                        </li>
                    </ul>
                    <div class="btn-group">
                        <a href="{% url 'products:update' object.pk %}" class="btn btn-lg btn-block btn-outline-primary">Править</a>
                        <a href="{% url 'products:delete' object.pk %}" class="btn btn-lg btn-block btn-outline-danger">Удалить</a>
                    </div>
                    <div class="card-footer">
                        Добавлен: {{ object.created_at }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}